[submodule "sub/NestdaqAnalyzer"]
	path = sub/NestdaqAnalyzer
	url = git@github.com:knucl/NestdaqAnalyzer
[submodule "sub/NestdaqUnpacker"]
	path = sub/NestdaqUnpacker
	url = git@github.com:knucl/NestdaqUnpacker
[submodule "sub/NestDAQ-HbdMonitor"]
	path = sub/NestDAQ-HbdMonitor
	url = git@github.com:knucl/NestDAQ-HbdMonitor
[submodule "sub/channel-map"]
	path = sub/channel-map
	url = git@github.com:knucl/channel-map
